/* GENERALES */

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #dfe2f8;
}


/* CABECERA */

.contenedor {
    background-color: white;
    list-style: none;
    text-decoration: none;
    width: 100%;
    margin: 2px;
    padding: 2px;
    display: block;
    height: 38px;
}

#periodico {
    display: block;
    box-shadow: 1px -1px 0 0 #eaeaea, inset 1px -1px 0 0 #eaeaea;
    width: 3%;
    text-align: center;
    float: left;
    height: 40px;
    margin-left: 50px;
    margin-right: 10px;
}

#periodico span {
    text-align: center;
    height: 40px;
    margin-top: 10px;
}

#carrusel ul {
    text-decoration: none;
    list-style: none;
    margin-left: 10px;
    width: 40%;
    border-right: 1px solid black;
    float: left;
    max-height: 40px;
}